# =============================================
# MEETAI — Configuração do Servidor
# =============================================

MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/meetai
PORT=3000

# =============================================
# CONFIGURAÇÃO DO BOT
# =============================================
# Caminho onde o bot salva os cookies de autenticação do Google
# Na primeira execução, o bot vai pedir para você fazer login manualmente
# Após isso, o arquivo é gerado e o bot loga sozinho nas próximas vezes
BOT_STORAGE_STATE=./bot-auth.json
